@font-face {
    font-family: 'gothic';
    src: url(../fonts/LetterGothic.ttf);
}
*{
	font-family: 'gothic';
	font-style: italic;
	text-transform: uppercase;
}
body{
	max-width: 1680px;
}
.navbar-default{
	background: none;
	box-shadow: 0px 80px 80px white;
	overflow: hidden;
	height: 150px;
	z-index: 100;
	border: none;
}
.kip{
	max-height: 150px;
	z-index: 1000;
	position: absolute;
	top: 0;
	width: 100%;
	height: 150px;
	display: block;
	max-width: 1680px;
}
.heroVid{
	z-index: 3;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 2000px;
	height: 150px;
	overflow: hidden;
}
.post{
	z-index: 99;
	position: relative;
}
.postContainer{
	position: relative;
	top: 240px;
	max-width: 1440px;
}
.title{
	font-size: 30px;
}
.content:hover{
	cursor: pointer;
}
.gallery{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	opacity: .5;
	-webkit-transition: opacity .2s;
	-webkit-transition-timing-function: ease-in; /* Safari and Chrome */
	transition-timing: opacity .2s;
    transition-timing-function: ease-in;
}
.gallery:hover{
	opacity: 1;
}